**Цель работы:**

Осуществить предварительную обработку данных csv-файла, выявить и устранить проблемы в этих данных.

# Загрузка набора данных

### Описание предметной области

Вариант №10

Набор данных: auto.csv

Атрибуты:
1. имя
2. год
3. цена продажи
4. пройдено км
5. топливо
6. тип продавца
7. коробка передач
8. тип владельца

### 1.Чтение файла (набора данных)

In [34]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Colab_Notebooks/1_LR_datasets/auto.csv', sep=',')

### 2. Обзор данных

2.1 Вывод первых 20 строк с помощью метода head.

In [35]:
df.head(20)

,Name,year,SellingPrice,kmdriven,fuel,seller_Type,transmission,owner
0,Maruti 800 AC,2007,60000.0,70000.0,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000.0,50000.0,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000.0,100000.0,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000.0,46000.0,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000.0,141000.0,Diesel,Individual,Manual,Second Owner
5,Maruti Alto LX BSIII,2007,140000.0,125000.0,Petrol,Individual,Manual,First Owner
6,Hyundai Xcent 1.2 Kappa S,2016,550000.0,25000.0,Petrol,Individual,Manual,First Owner
7,Tata Indigo Grand Petroll,2014,240000.0,60000.0,Petrol,Individual,Manual,Second Owner
8,Hyundai Creta 1.6 VTVT S,2015,850000.0,25000.0,Petroll,Individual,Manual,First Owner
9,Maruti Celerio Green VXI,2017,365000.0,78000.0,CNG,Individual,Manual,First Owner
10,Chevrolet Sail 1.2 Base,2015,260000.0,35000.0,Petrol,Individual,Manual,First Owner
11,Tata Indigo Grand Petrol,2014,250000.0,100000.0,Petrol,Individual,Manual,First Owner
12,Toyota Corolla Altis 1.8 VL CVT,2018,1650000.0,25000.0,Petrol,Dealer,Automatic,First Owner
13,Maruti 800 AC,2007,60000.0,70000.0,Petrol,Individual,Manual,First Owner
14,Maruti Wagon R LXI Minor,2007,135000.0,50000.0,Petrol,Individual,Manual,First Owner
15,Hyundai Verna 1.6 SX,2012,600000.0,100000.0,Diesel,Individual,Manual,First Owner
16,Datsun RediGO T Option,2017,250000.0,46000.0,Petrol,Individual,Manual,First Owner
17,Honda Amaze VX i-DTEC,2014,450000.0,141000.0,Diesel,Individual,Manual,Second Owner
18,Maruti Alto LX BSIII,2007,140000.0,125000.0,Petrol,Individual,Manual,First Owner
19,Hyundai Xcent 1.2 Kappa S,2016,550000.0,25000.0,Petrol,Individual,Manual,First Owner

2.2 Оценка данных с помощью метода info.

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4344 entries, 0 to 4343
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          4344 non-null   object
 1   year          4344 non-null   int64
 2   SellingPrice  4342 non-null   float64
 3   kmdriven      4343 non-null   float64
 4   fuel          4343 non-null   object
 5   seller_Type   4344 non-null   object
 6   transmission  4344 non-null   object
 7   owner         4344 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 271.6+ KB

2.3 Оценка данных с помощью метода describe.

In [37]:
df.describe()

              year  SellingPrice       kmdriven
count  4344.000000  4.342000e+03    4343.000000
mean   2013.092311  5.039987e+05   66193.063320
std       4.214543  5.784465e+05   46636.648764
min    1992.000000  2.000000e+04       1.000000
25%    2011.000000  2.100000e+05   35000.000000
50%    2014.000000  3.500000e+05   60000.000000
75%    2016.000000  6.000000e+05   90000.000000
max    2020.000000  8.900000e+06  806599.000000


---

**Сделать выводы. Вы должны понимать, что означает тот или иной столбец, чтобы
 ответить на вопросы на защите.**


 ---

 2.4 Оценка названий столбцов

In [38]:
df.columns

Index(['Name', 'year', 'SellingPrice', 'kmdriven', 'fuel', 'seller_Type',
       'transmission', 'owner'],
      dtype='object')

In [39]:
df = df.rename(columns={'SellingPrice': 'price', 'kmdriven': 'mileage',})
df.columns = df.columns.str.lower()

In [40]:
df.columns

Index(['name', 'year', 'price', 'mileage', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')

### 3. Проверка пропусков

In [41]:
print(df.isna().sum())

name            0
year            0
price           2
mileage         1
fuel            1
seller_type     0
transmission    0
owner           0
dtype: int64

In [42]:
df = df.dropna(subset=['price', 'mileage', 'fuel'])
print(df.isna().sum())

name            0
year            0
price           0
mileage         0
fuel            0
seller_type     0
transmission    0
owner           0
dtype: int64


---

**Вы должны аргументировать на защите, почему были выполнены те или иные действия с пропусками, а также знать другие способы работы с пропусками, чтобы
 ответить на вопросы на защите.**


 ---

### 4. Проверка дубликатов

#### Проверка явных дубликатов

In [43]:
df[df.duplicated()]
print(df.duplicated().sum())

763

In [44]:
df = df.drop_duplicates().reset_index()
df[df.duplicated()]
print(df.duplicated().sum())

0

#### Проверка неявных дубликатов

In [45]:
print(df['name'].unique(), '\n',
      df['year'].unique(), '\n',
      df['price'].unique(), '\n',
      df['mileage'].unique(), '\n',
      df['fuel'].unique(), '\n',
      df['seller_type'].unique(), '\n',
      df['transmission'].unique(), '\n',
      df['owner'].unique())

['Maruti 800 AC' 'Maruti Wagon R LXI Minor' 'Hyundai Verna 1.6 SX' ...
 'Mahindra Verito 1.5 D6 BSIII'
 'Toyota Innova 2.5 VX (Diesel) 8 Seater BS IV'
 'Hyundai i20 Magna 1.4 CRDi']
 [2007 2012 2017 2014 2016 2015 2018 2019 2013 2011 2010 2009 2006 1996
 2005 2008 2004 1998 2003 2002 2020 2000 1999 2001 1995 1997 1992]
 [  60000.  135000.  600000.  250000.  450000.  140000.  550000.  240000.
  850000.  365000.  260000. 1650000.  585000. 1195000.  390000. 1964999.
 1425000.  975000. 1190000.  930000.  525000. 1735000. 1375000.  900000.
 1300000. 1400000.  229999. 1550000. 1250000.  625000. 1050000.  560000.
  290000.  275000.  411000.  150000.  500000.  100000.  725000.  401000.
  750000.  310000.  665000.  465000.  160000.  675000.  300000.   70000.
  151000.  280000.  350000.  570000.  125000.  130000.  925000.  200000.
  248000.   80000.  650000.  495000.  371000. 1025000. 8150000.  325000.
 1470000. 2800000.  210000. 1150000. 4500000. 2750000. 1975000.  175000.
 2500000.  628000.  399000.  315000.  780000.  434000.  690000.  555000.
  120000.  165000.   95000.  800000.  840000.  490000.  400000. 1000000.
  530000.   40000.   75000.  540000.  700000.  430000.   65000.  195000.
  170000.  225000.   99000.  620000. 2550000.  320000.  810000.  282000.
   72000.  640000.  380000. 1500000.  434999.  190000. 2900000.  425000.
  265000.  890000.  685000.  940000.  590000.  385000. 2000000.  235000.
   52000.   89999.  180000.  285000. 1075000.   90000.  220000.  110000.
  880000.  115999.  360000.  680000.  860000.  270000.  395000.  624000.
  345000.  106000. 1800000.  575000.  370000.   50000.   55000.  755000.
  720000. 1100000.  159000.  335000.  185000.  470000.  145000.  595000.
 1600000.  105000.  409999.  215000.  475000.  330000. 1044999. 1350000.
  420000.  760000.   43000. 1850000. 1125000.  133000.  352000.  520000.
  509999.  556000.  484999.  565000.  295000. 2050000. 1475000. 4400000.
  670000.  770000.  775000. 1725000. 2150000. 3800000. 1580000. 4950000.
  535000.  239000. 2600000.  114999.  200999.  710000.  969999.  155000.
  138000.  311000.   58000.  183000.  825000.  299000.  639000.  415000.
 1199000.  699000.  269000.  249000. 1549000.  254999.  211000.  599000.
 4000000. 1200000.   98000.  790000. 1700000.   68000.  875000. 1330000.
  919999.  611000.  711000.  851000.  610000.  744000.  480000.  950000.
   85000.  615000.  227000.  222000.  735000.  271000. 1490000.  455000.
  421000. 2700000. 4700000. 1900000. 1770000.  660000.  716000.  147000.
 1140000. 3050000.  375000. 1950000.  340000. 3100000.  245000.  715000.
 1750000. 3500000.  835000. 2490000. 1015000.   91200. 2400000.  635000.
  302000.  204999.  341000.  819999.  351000.  630000. 1085000.  580000.
   78000. 3200000.  695000.  355000.  619000.   81000.  486000.  802000.
 2300000.  287000.  250999.   45000. 1485000. 1825000. 3256000.  451000.
  149000.  163000.  419000.  990000.  346000.  509000.   69000. 1380000.
  256000.   97000.  199000. 2595000.  730000.  368000.  545000.  641000.
  784000.  324000. 2100000.  305000.  221000.  828999. 1119000.  746000.
 1030000. 1334000.  811999. 1331000.  852000.  830000.  213000.   35000.
  869999.  178000.  515000.  312000.  111000.  774000.  148000.   57000.
  284000.  349000.  458000.  381000.  751000.  782000.  321000.   92800.
  291000.   73000.  655000.  263000.  217000.  539000.  142000.  910000.
  740000.  164000.  999000.   56000. 3899000.  440000.  238000. 1295000.
  541000.  894999.  844999.  288000. 1225000. 1010000.   30000.  396000.
  281000.   93000.  459999.   88000.   22000.   79000.  198000.  182000.
  861999.  836000.  696000.  596000.  612000.   20000.   61000.  511000.
 1230000.  426000.   62000. 1450000.   71000. 2200000. 1249000. 1240000.
 1068000. 1189000.  363000.  821000.  815000.  738000.  765000.  516000.
  134000.  347000. 2650000. 2675000.  359000.  980000.  707000.  471000.
  377000.  763000.  701000.  277000.  936999.   82000.  799000. 1451000.
 1575000.   78692.  479000.   48000.  121000.  785000.  173000. 4800000.
  587000.  123000. 1290000.  193000.  721000. 1040000. 2349000. 1165000.
   42000. 1680000.  231999.  841000. 1280000. 1090000.  449000.  724000.
  126000.  795000. 2575000. 1035000. 1260000. 8900000. 1860000. 4200000.
 5500000.  430999. 1151000.  927999.   51111.  212000.  428000.  219000.
  749000.  233000.  614000.   37500.  865000.]
 [7.00000e+04 5.00000e+04 1.00000e+05 4.60000e+04 1.41000e+05 1.25000e+05
 2.50000e+04 6.00000e+04 7.80000e+04 3.50000e+04 2.40000e+04 5.00000e+03
 3.30000e+04 2.80000e+04 5.90000e+04 4.50000e+03 1.75900e+05 1.45000e+04
 1.50000e+04 3.38000e+04 1.30400e+05 8.00000e+04 1.00000e+04 1.19000e+05
 7.58000e+04 4.00000e+04 7.40000e+04 6.40000e+04 1.20000e+05 7.90000e+04
 1.85000e+04 1.02000e+04 2.90000e+04 9.00000e+04 7.33000e+04 9.20000e+04
 6.67640e+04 3.50000e+05 2.30000e+05 3.10000e+04 3.90000e+04 1.66000e+05
 1.10000e+05 5.40000e+04 6.30000e+04 7.60000e+04 1.19580e+04 2.00000e+04
 9.00000e+03 6.50000e+03 5.80000e+04 6.22000e+04 3.40000e+04 5.30000e+04
 4.90000e+04 6.35000e+04 9.80000e+03 1.30000e+04 2.10000e+04 2.91730e+04
 4.80000e+04 3.00000e+04 8.70000e+04 1.60000e+04 7.93500e+04 8.10000e+04
 3.60000e+03 1.42720e+04 4.92130e+04 5.70000e+04 3.24000e+03 1.14000e+05
 5.37720e+04 1.40000e+05 1.75000e+05 3.60000e+04 1.55500e+05 2.30000e+04
 2.21550e+04 7.83800e+04 1.50000e+05 8.03620e+04 5.50000e+04 1.13600e+03
 4.30000e+04 2.65000e+03 1.15962e+05 6.50000e+04 5.60000e+04 2.13000e+05
 1.39000e+05 1.60000e+05 1.63000e+05 3.20000e+04 5.20000e+04 1.12400e+04
 6.60000e+04 2.65000e+04 7.20000e+04 4.40000e+04 1.30000e+05 1.95000e+05
 1.55000e+05 4.00000e+03 4.10000e+04 1.08320e+04 1.46810e+04 5.10000e+04
 2.00000e+05 1.96000e+04 4.67300e+04 2.11700e+04 1.67223e+05 1.41440e+05
 2.12814e+05 8.86350e+04 1.49674e+05 8.00000e+03 6.80000e+04 3.80000e+04
 7.50000e+04 9.80000e+04 8.19250e+04 8.20800e+04 9.70000e+04 5.20470e+04
 6.20090e+04 3.31000e+04 2.20000e+05 4.50000e+04 1.80000e+05 2.20000e+04
 8.05770e+04 1.27500e+05 4.09030e+04 2.22880e+04 6.16900e+04 6.44840e+04
 7.59760e+04 8.59620e+04 5.70350e+04 7.21040e+04 1.64000e+05 1.24439e+05
 7.70000e+04 1.25000e+03 1.71520e+04 2.40050e+04 1.49000e+05 1.90000e+04
 1.09000e+05 6.10000e+04 2.76330e+04 1.25860e+04 3.80830e+04 5.53280e+04
 8.16320e+04 1.55201e+05 9.32830e+04 2.17871e+05 9.01650e+04 1.01504e+05
 8.60170e+04 8.50360e+04 9.10860e+04 1.60254e+05 1.25531e+05 8.20000e+04
 8.40000e+04 5.60000e+05 1.43650e+04 6.10830e+04 6.63630e+04 1.17000e+04
 7.10400e+03 4.59740e+04 5.53400e+04 6.15850e+04 3.94150e+04 2.96540e+04
 6.46720e+04 5.46340e+04 6.65210e+04 2.39740e+04 1.00000e+03 8.60000e+04
 5.26000e+04 1.98900e+04 1.19180e+04 1.05100e+04 4.71620e+04 4.98240e+04
 5.85000e+04 5.65800e+04 4.65070e+04 1.14510e+04 1.72000e+05 6.65080e+04
 2.99000e+04 3.00000e+03 8.50000e+04 7.90000e+03 1.75000e+04 2.06500e+05
 8.86000e+04 1.86000e+05 1.10000e+04 1.38000e+05 2.79740e+04 1.80000e+04
 1.40000e+03 1.24000e+05 4.20000e+04 2.82050e+04 3.26700e+04 3.00930e+04
 5.62280e+04 5.93190e+04 3.95030e+04 3.52990e+04 5.16870e+04 7.62590e+04
 4.40490e+04 4.50870e+04 4.11250e+04 4.22150e+04 5.42060e+04 5.25470e+04
 5.91100e+04 5.45650e+04 4.75640e+04 4.51430e+04 6.16240e+04 1.32000e+05
 1.09800e+04 2.06290e+04 6.97820e+04 6.36540e+04 5.93850e+04 7.03780e+04
 5.54250e+04 7.84130e+04 4.08900e+04 3.48230e+04 5.55450e+04 5.65410e+04
 4.37000e+04 2.74830e+04 5.62070e+04 1.44000e+03 9.11950e+04 6.36570e+04
 9.72480e+04 8.90000e+04 1.20000e+04 1.29970e+04 2.64300e+04 2.46000e+04
 2.84810e+04 4.19880e+04 3.03750e+04 7.65800e+03 3.44000e+04 2.89420e+04
 5.36000e+04 5.36520e+04 1.06000e+05 2.05000e+05 7.95000e+04 1.97000e+05
 9.16100e+03 1.90770e+04 1.28000e+05 2.13020e+04 1.05000e+04 1.07000e+05
 5.53000e+04 7.43000e+04 4.87810e+04 8.76200e+04 4.02190e+04 1.14730e+04
 8.35200e+03 9.74500e+03 9.74800e+03 2.06940e+04 3.10800e+04 3.76050e+04
 5.58500e+04 5.88500e+04 2.38390e+04 4.54540e+04 4.69570e+04 1.90000e+05
 1.50000e+03 4.70000e+04 1.16000e+05 2.63500e+04 7.10420e+04 1.67870e+05
 1.33564e+05 2.30380e+04 4.36080e+04 1.12120e+04 4.92170e+04 2.88380e+04
 1.35000e+05 1.95710e+04 2.96000e+04 1.35000e+04 4.86000e+04 1.27643e+05
 1.02354e+05 6.22370e+04 2.13940e+04 3.26860e+04 1.00100e+03 5.32610e+04
 1.40000e+04 3.98950e+04 7.30000e+04 1.70000e+04 1.85910e+04 2.67660e+04
 3.00000e+05 2.76200e+04 2.23000e+05 1.61327e+05 6.00000e+03 7.10000e+04
 1.44000e+05 3.70000e+04 2.60000e+04 2.70000e+04 1.32500e+04 1.01000e+05
 8.50000e+03 9.02460e+04 6.04000e+04 7.09500e+04 1.10000e+03 3.14910e+04
 1.07143e+05 4.64120e+04 1.07500e+05 4.38260e+04 5.58380e+04 1.12880e+05
 3.03000e+04 8.06590e+04 8.13240e+04 1.27884e+05 6.67550e+04 1.23084e+05
 8.06599e+05 9.58510e+04 2.34000e+05 1.70000e+05 9.60000e+04 1.90140e+04
 2.32620e+04 3.59250e+04 4.07710e+04 3.05000e+04 5.58000e+04 6.65690e+04
 8.13580e+04 8.26950e+04 6.82930e+04 1.90621e+05 6.47000e+04 8.84700e+04
 1.26000e+05 7.41830e+04 1.00000e+00 1.92000e+05 8.34110e+04 1.32700e+04
 8.80000e+04 7.00000e+03 1.37700e+04 1.02000e+05 1.43000e+05 1.15000e+05
 1.36906e+05 1.33000e+05 2.86890e+04 8.03220e+04 6.16580e+04 1.85000e+05
 3.06000e+04 2.35000e+05 6.70000e+04 7.45000e+04 1.18700e+05 2.23660e+05
 2.00000e+03 7.37560e+04 1.64000e+04 4.13950e+04 7.10140e+04 1.81000e+05
 8.95500e+04 1.49500e+05 8.30000e+04 4.48000e+04 1.56000e+05 1.46000e+05
 9.90000e+04 3.75160e+04 2.58800e+04 1.36000e+05 2.02000e+03 9.40000e+04
 8.85000e+04 5.25360e+04 1.95000e+03 1.18400e+05 6.48000e+03 3.20770e+04
 1.91070e+04 1.84690e+04 2.82170e+04 7.27870e+04 3.10630e+04 7.96410e+04
 5.86920e+04 5.47840e+04 6.41560e+04 9.50000e+03 8.13660e+04 2.44000e+05
 3.12000e+05 1.45000e+05 7.30000e+03 7.25390e+04 1.01000e+02 5.23280e+04
 9.15050e+04 2.05000e+04 1.54000e+05 4.17230e+04 6.87450e+04 2.72890e+04
 2.46620e+04 2.82450e+04 2.70050e+04 3.92270e+04 3.13670e+04 3.50080e+04
 1.00005e+05 4.52640e+04 3.90930e+04 4.52410e+04 2.76900e+03 4.31280e+04
 2.22550e+04 5.92130e+04 1.01000e+03 1.11100e+03 4.89650e+04 5.16600e+03
 7.62900e+04 4.57660e+04 7.87710e+04 7.93570e+04 7.67360e+04 9.26450e+04
 1.01849e+05 1.55836e+05 6.32300e+04 1.75800e+03 1.45200e+03 3.51220e+04
 9.26210e+04 9.21980e+04 1.52000e+05 7.83220e+04 5.43090e+04 3.46000e+04
 3.82170e+04 7.70730e+04 1.65840e+04 8.12570e+04 3.91700e+03 6.90690e+04
 5.90590e+04 3.90390e+04 3.30330e+04 5.51680e+04 4.10410e+04 6.70670e+04
 6.60660e+04 8.20820e+04 7.00700e+04 6.30630e+04 9.52800e+03 1.35200e+05
 5.03000e+04 1.51624e+05 7.48200e+04 1.29000e+05 6.67780e+04 6.34000e+04
 1.57000e+05 3.85000e+04 1.03921e+05 1.48250e+04 4.33770e+04 1.02307e+05
 2.45244e+05 6.85000e+04 5.00700e+03 4.96000e+04 4.31000e+04 1.01710e+04
 4.11230e+04 2.01180e+04 5.25170e+04 9.91170e+04 3.70000e+03 4.35000e+04
 1.37250e+05 5.40000e+03 1.12000e+04 9.30000e+04 6.20000e+04 5.80000e+03
 2.67000e+05 2.50000e+05 2.86350e+04 3.21140e+04 9.51490e+04 6.84580e+04
 1.05546e+05 1.04000e+05 1.32343e+05 2.61340e+04 5.28950e+04 4.23240e+04
 6.02360e+04 1.03000e+04 1.42000e+05 2.86430e+04 7.60000e+03 4.72530e+04
 4.43200e+03 6.85230e+04 8.02510e+04 3.45000e+04 4.27430e+04 9.39000e+04
 5.57660e+04 1.13600e+05 1.38925e+05 1.21764e+05 1.05429e+05 2.31220e+04
 4.45000e+04 1.35990e+04 5.20000e+03 1.27000e+04 9.50000e+04 4.58390e+04
 7.45100e+04 8.72930e+04 1.56040e+05 9.34150e+04 1.01159e+05 6.85190e+04
 5.51300e+04 6.52390e+04 5.81820e+04 9.12450e+04 1.02989e+05 1.08000e+05
 1.78000e+05 7.51180e+04 4.63700e+03 4.26550e+04 6.90000e+04 1.17000e+05
 1.05000e+05 1.82000e+05 2.45850e+04 1.39000e+04 1.75630e+04 1.73000e+05
 1.51000e+05 1.17780e+05 8.15950e+04 9.70000e+03 2.21000e+05 2.87400e+04
 4.85000e+04 1.48620e+05 2.70000e+05 4.10900e+04 2.96823e+05 8.92550e+04
 1.68000e+05 5.55000e+03 1.70000e+03 4.52170e+04 4.44400e+04 9.13650e+04
 9.00100e+04 3.18000e+04 5.91000e+04 3.12000e+04 2.27000e+04 5.09000e+04
 2.41700e+03 6.55000e+04 1.40300e+05 1.02110e+04 2.60000e+05 3.29330e+04
 5.45510e+04 5.71120e+04 4.10250e+04 5.31220e+04 6.41110e+04 7.88920e+04
 7.41130e+04 8.47750e+04 2.07780e+04 6.44410e+04 4.31920e+04 4.44160e+04
 7.99910e+04 6.26010e+04 8.96000e+04 6.08000e+04 6.91110e+04 2.09690e+04
 2.01940e+04 3.49820e+04 4.45880e+04 5.79040e+04 5.92580e+04 6.08260e+04
 1.30000e+03 3.17070e+04 1.15992e+05 1.09052e+05 9.06580e+04 2.55520e+04
 4.07000e+04 1.11740e+04 7.25000e+04 7.66000e+04 9.77000e+04 3.75000e+04
 2.38000e+04 4.40770e+04 2.10000e+05 9.42200e+03 2.40000e+05 1.71000e+04
 2.24642e+05 2.22435e+05 1.59000e+05 1.01100e+05 1.20000e+03 1.34444e+05
 2.38000e+05 1.65000e+05 6.37000e+04 7.48000e+04 6.05160e+04 7.67310e+04
 6.38400e+04 7.64000e+04 3.14890e+04 2.95000e+05 1.58000e+05 4.00000e+05
 1.94950e+04 6.26680e+04 8.57100e+04 6.33560e+04 1.29627e+05 4.40000e+03
 1.49870e+04 2.50610e+04 4.24940e+04 4.48750e+04 8.97410e+04 3.47089e+05
 2.22252e+05 5.52500e+04 1.25000e+04 1.62000e+05 2.20380e+04 2.50000e+03
 8.91260e+04 1.34000e+05 4.25000e+04 1.31365e+05 4.89800e+04 9.89000e+04
 1.38000e+04 9.97000e+04 4.96540e+04 4.54570e+04 3.92210e+04 4.82200e+04
 1.11140e+04 6.02080e+04 9.86000e+04 8.54410e+04 6.45410e+04 1.62670e+04
 7.15000e+04 1.29990e+04 1.47000e+04 9.26860e+04 4.93590e+04 1.08731e+05
 2.99760e+04 3.06460e+04 2.36000e+04 7.13180e+04 7.80980e+04 1.80540e+04
 3.84060e+04 5.43500e+04 3.22600e+04 5.82310e+04 5.98580e+04 7.33500e+04
 8.84730e+04 9.69870e+04 7.73500e+04 6.11870e+04 6.83500e+04 8.11500e+04
 2.80000e+05 1.05700e+05 3.70910e+04 3.89000e+04 9.40000e+03 1.41000e+04
 3.75550e+04 5.66000e+04 6.75800e+04 4.82380e+04 3.83650e+04 2.36700e+04
 4.98340e+04 5.73530e+04 6.83080e+04 6.32400e+04 6.49160e+04 3.71610e+04
 1.18000e+05 5.08520e+04 5.35000e+04 5.15000e+04 7.98000e+04 6.59000e+03
 4.99570e+04 4.32350e+04 5.06990e+04 1.40730e+05 2.56000e+05 2.18000e+05
 6.67820e+04 1.12198e+05]
 ['Petrol' 'Diesel' 'Petroll' 'CNG' 'LPG' 'Electric']
 ['Individual' 'Dealer' 'Dealeer' 'Trustmark Dealer']
 ['Manual' 'Automatic']
 ['First Owner' 'Second Owner' 'Fourth & Above Owner' 'Third Owner'
 'Test Drive Car']

In [48]:
print(df['fuel'].value_counts(), '\n')
print(df['seller_type'].value_counts())

fuel
Diesel      1800
Petrol      1718
CNG           37
LPG           22
Petroll        1
Electric       1
Name: count, dtype: int64

seller_type
Individual          2834
Dealer               711
Trustmark Dealer      33
Dealeer                1
Name: count, dtype: int64

In [49]:
df['fuel'] = df['fuel'].replace('Petroll', 'Petrol')
df['seller_type'] = df['seller_type'].replace('Dealeer', 'Dealer')
print(df['fuel'].value_counts(), '\n')
print(df['seller_type'].value_counts())

fuel
Diesel      1800
Petrol      1719
CNG           37
LPG           22
Electric       1
Name: count, dtype: int64

seller_type
Individual          2834
Dealer               712
Trustmark Dealer      33
Name: count, dtype: int64

---

**Вы должны аргументировать на защите, почему были выполнены те или иные действия с дубликатами, знать, что такое явные и неявные дубликаты и способы работы с ними, чтобы ответить на вопросы на защите.**


 ---

### 5. Провека типов данных

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3579 entries, 0 to 3578
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         3579 non-null   int64
 1   name          3579 non-null   object
 2   year          3579 non-null   int64
 3   price         3579 non-null   float64
 4   mileage       3579 non-null   float64
 5   fuel          3579 non-null   object
 6   seller_type   3579 non-null   object
 7   transmission  3579 non-null   object
 8   owner         3579 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 251.8+ KB

In [ ]:
# Проверьте типы данных, при необходимости измените типы данных, чтобы они соответствовали действительности.

---

**Обратите внимание, что во всех вариантах необходимо сделать приведение типов. Будьте готовы на защите аргументировать проверку типов (почему выполнены те или иные преобразования).**


 ---

### 6. Группировка данных

#### Задание 1

*`Формулировка задания`*

In [53]:
task1 = df.groupby('owner')['transmission'].nunique().reset_index(name='count')
print(task1)

                  owner  count
0           First Owner      2
1  Fourth & Above Owner      2
2          Second Owner      2
3        Test Drive Car      2
4           Third Owner      2

**`Сделайте вывод - интерпретацию - что можно увидеть из результата данной группировки?`**

---

**Обратите внимание, что на защите вы должны ориентироваться в синтаксисе. При необходимости нужно быть готовым изменить код по просьбе преподавателя. Например, вместо среднего значения подсчитать медиану и т.д.**


 ---

#### Задание 2

*`Формулировка задания`*

In [54]:
task2 = (df.groupby('transmission')['fuel'].nunique().reset_index(name='count').sort_values('count', ascending=False))
print(task2)

  transmission  count
1       Manual      4
0    Automatic      3

**`Сделайте вывод - интерпретацию - что можно увидеть из результата данной группировки?`**

---

**Обратите внимание, что на защите вы должны ориентироваться в синтаксисе. При необходимости нужно быть готовым изменить код по просьбе преподавателя. Например, вместо среднего значения подсчитать медиану и т.д.**


 ---

#### Задание 3

*`Формулировка задания`*

In [55]:
task3 = (pd.pivot_table(df, index='owner', values='price', aggfunc='mean')
           .reset_index()
           .rename(columns={'price': 'avg_price'})
           .sort_values('avg_price', ascending=False)
        )['avg_price'].round(2)
print(task3.head(50))

3    954293.94
0    565513.71
2    341850.00
4    266142.21
1    181213.29
Name: avg_price, dtype: float64

**`Сделайте вывод - интерпретацию - что можно увидеть из результата данной сводной таблицы?`**

---

**Обратите внимание, что на защите вы должны ориентироваться в синтаксисе. При необходимости нужно быть готовым изменить код по просьбе преподавателя. Например, вместо среднего значения подсчитать медиану и т.д.**


 ---

#### Задание 4

*`Формулировка задания`*

In [56]:
task4 = (pd.pivot_table(df, index='year', columns='owner', values='mileage', aggfunc='mean')
           .sort_index(ascending=True)
           .round(2)
        )
print(task4.head(50))

owner  First Owner  Fourth & Above Owner  Second Owner  Test Drive Car  \
year
1992           NaN             100000.00           NaN             NaN
1995           NaN                   NaN     100000.00             NaN
1996      60000.00                   NaN      35000.00             NaN
1997      70000.00                   NaN      80000.00             NaN
1998           NaN              60000.00      76000.00             NaN
1999      70000.00              80000.00      65404.00             NaN
2000      77500.00              74250.00      77500.00             NaN
2001     106500.00              97000.00      95107.80             NaN
2002      76000.00              80000.00      87200.00             NaN
2003      55683.00              66666.67      98849.36             NaN
2004      79765.00             112750.00      91819.53             NaN
2005      79471.11              96322.50      79573.69             NaN
2006      95359.96             131848.80      94371.49             NaN
2007      86642.75             121555.56      87837.78             NaN
2008      79704.80              92500.00      86452.80             NaN
2009      97589.32             100000.00      94676.42             NaN
2010      78574.27             113000.00      98071.17             NaN
2011      81739.28             113175.00      96894.24             NaN
2012      82938.14             104333.33      86577.36             NaN
2013      73645.42              85000.00      81519.06             NaN
2014      68922.05             113000.00      85446.54             NaN
2015      61263.24             120000.00      69200.24             NaN
2016      56888.35                   NaN      59843.57             NaN
2017      43108.69              50000.00      42005.85        24585.00
2018      28434.67                   NaN      30289.65        13000.00
2019      19363.53                   NaN      40400.00         7855.33
2020      15084.38               1100.00           NaN          790.33

owner  Third Owner
year
1992           NaN
1995           NaN
1996           NaN
1997     120000.00
1998      65000.00
1999      50000.00
2000      41371.50
2001      64893.17
2002      86000.00
2003     100000.00
2004      95971.38
2005     119250.00
2006     120940.91
2007     101705.88
2008     108434.48
2009      98945.19
2010     114209.68
2011      99437.50
2012      98896.40
2013      82250.00
2014     108166.67
2015      82500.00
2016      71600.00
2017      57000.00
2018      38900.00
2019      15000.00
2020           NaN

**`Сделайте вывод - интерпретацию - что можно увидеть из результата выполнения данного кода?`**

---

**Обратите внимание, что на защите вы должны ориентироваться в синтаксисе. При необходимости нужно быть готовым изменить код по просьбе преподавателя. Например, вместо среднего значения подсчитать медиану и т.д.**


 ---

### Вывод


***`Сделать расширенный вывод. `***

Вывод должен описывать результаты исследования: какой набор данных вы анализировали (предметная область), какие методы предобработки применили, какие выводы из группировок и сводных таблиц можно сделать (они могут повторять выводы выше) и т.п. Объём вывода, как правило не более 0.5-0.75 страницы А4, всё таки вывод должен быть конкретным (без теории и “воды”).

### Дополнительное задание

**`Подробная формулировка задания`**

In [ ]:
# код выполнения задания

***`Подробный вывод по заданию, описание полученных результатов`***